/* src/index.css */

@import "./styles/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



/* --------------------------------------------------
   Global Reset
-------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------
   Root Layout
-------------------------------------------------- */

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

/* --------------------------------------------------
   Typography
-------------------------------------------------- */

body {
  font-family: "Cairo", system-ui, sans-serif;

  background: hsl(var(--background));
  color: hsl(var(--foreground));

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* --------------------------------------------------
   Media
-------------------------------------------------- */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* --------------------------------------------------
   Forms
-------------------------------------------------- */

button,
input,
textarea,
select {
  font: inherit;
}
